[package]
name = "crust-gather"
version = "0.1.0"
edition = "2021"

[dependencies]
kube = { version = "0.96.0", features = ["ws"] }
k8s-openapi = { version = "0.23.0", features = ["latest"] }
tokio = { version = "1.41.0", features = ["full"] }
serde_yaml = "0.9.28"
serde = { version = "1.0.213", features = ["derive"] }
clap = { version = "4.5.20", features = ["derive"] }
anyhow = "1.0.91"
async-trait = "0.1.83"
tar = { version = "0.4.42", optional = true }
flate2 = { version = "1.0.34", optional = true }
zip = { version = "2.2.0", optional = true }
build_html = "2.5.0"
regex = "1.11.0"
futures = "0.3.31"
tokio-retry = "0.3.0"
duration-string = { version = "0.4.0", features = ["serde"] }
tokio-util = "0.7.12"
trait-set = "0.3.0"
actix-web = "4.9.0"
glob = "0.3.1"
http = "1.1.0"
serde_json_path = "0.6.4"
base64 = "0.22.1"
walkdir = "2.5.0"
logos = "0.14.2"
json-patch = "2.0.0"
jsonptr = "0.4.7"
async-stream = "0.3.6"
thiserror = "1.0.65"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["fmt", "env-filter"] }

[features]
archive = ["dep:tar", "dep:flate2", "dep:zip"]

[dev-dependencies]
xid = "1.1.1"
tempdir = "0.3.7"
serial_test = "3.1.1"
serde_with = "3.11.0"

[profile.release]
strip = true
opt-level = "z"
codegen-units = 1

[[bin]]
name = "kubectl-crust-gather"
path = "src/main.rs"
