[package]
name = "crust-gather"
version = "0.1.0"
edition = "2021"

[dependencies]
kube = { version = "0.91.0", features = ["ws"] }
kube-core = "0.91.0"
k8s-openapi = { version = "0.22.0", features = ["latest"] }
tokio = { version = "1.38.0", features = ["full"] }
serde_yaml = "0.9.28"
serde = { version = "1.0.203", features = ["derive"] }
clap = { version = "4.5.7", features = ["derive"] }
anyhow = "1.0.86"
async-trait = "0.1.80"
tar = { version = "0.4.41", optional = true }
flate2 = { version = "1.0.30", optional = true }
zip = { version = "2.1.3", optional = true }
build_html = "2.4.0"
log = "0.4.20"
env_logger = "0.11.0"
regex = "1.10.2"
futures = "0.3.30"
tokio-retry = "0.3.0"
duration-string = { version = "0.4.0", features = ["serde"] }
tokio-util = "0.7.11"
trait-set = "0.3.0"
actix-web = "4.7.0"
glob = "0.3.1"
http = "1.1.0"
serde_json_path = "0.6.4"
base64 = "0.22.1"
walkdir = "2.5.0"

[features]
archive = ["dep:tar", "dep:flate2", "dep:zip"]

[dev-dependencies]
xid = "1.1.1"
tempdir = "0.3.7"
serial_test = "3.1.1"
serde_with = "3.8.1"

[profile.release]
strip = true
opt-level = "z"
codegen-units = 1

[[bin]]
name = "kubectl-crust-gather"
path = "src/main.rs"
