[package]
name = "crust-gather"
version = "0.1.0"
edition = "2021"

[dependencies]
kube = { version = "0.87.2", features = ["ws"] }
kube-core = "0.87.2"
k8s-openapi = { version = "0.20.0", features = ["latest"] }
tokio = { version = "1.35.1", features = ["full"] }
serde_yaml = "0.9.28"
serde = { version = "1.0.194", features = ["derive"] }
clap = { version = "4.4.11", features = ["derive"] }
anyhow = "1.0.76"
async-trait = "0.1.75"
tar = "0.4.40"
flate2 = "1.0.28"
zip = "0.6.6"
build_html = "2.4.0"
log = "0.4.20"
env_logger = "0.10.1"
regex = "1.10.2"
futures = "0.3.30"
tokio-retry = "0.3.0"
duration-string = { version = "0.3.0", features = ["serde"] }
tokio-util = "0.7.10"

[dev-dependencies]
xid = "1.0.0"
tempdir = "0.3.7"
serial_test = "3.0.0"

[profile.release]
strip = true
opt-level = "z"
codegen-units = 1

[[bin]]
name = "kubectl-crust-gather"
path = "src/main.rs"
